pkgbase = proton-drive
	pkgdesc = Proton Drive desktop client for KDE Plasma
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/eldergod1800/proton-drive
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = rust
	makedepends = cargo
	depends = dbus
	source = proton-drive-0.1.3.tar.gz::https://github.com/eldergod1800/proton-drive/archive/v0.1.3.tar.gz
	sha256sums = 72074a51601aab97299ae2698d1128d6881fb262207b17b69d849e6507062fed

pkgname = proton-drive
