pkgbase = proton-drive
	pkgdesc = Proton Drive desktop client for KDE Plasma
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/eldergod1800/proton-drive
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = rust
	makedepends = cargo
	depends = dbus
	source = proton-drive-0.1.1.tar.gz::https://github.com/eldergod1800/proton-drive/archive/v0.1.1.tar.gz
	sha256sums = cf58b9b12f0edf3c1cd8e4aa9defe1ee79593deb99bd9128b915bf15a3bf57a4

pkgname = proton-drive
